:root {
  background: radial-gradient(#000000,#15b9ab);
}

.mosaic-background {
  background: 
    url('/sheldon.png') top right / 25% 25%,
    url('/sheldon2.png') bottom left / 25% 25%,
    url('/public/sheldon.png') bottom right / 25% 25%;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: Copperplate;
  font-size: 6em;
  color: #ffffff;
  font: weight 6px;
  line-height: 1.5;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

h2 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5em;
  color: #ffffff;
  line-height: 1.1;
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  text-decoration:wavy;
}

h3 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1em;
  color: #ffffff;
  line-height: 1.1;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #070707;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
